<body>
    <div class="main">
        <div class="mainText">
            <div class="badWords">
                <p>Bad words: &nbsp;</p><p class="bwColor">{{badWords}}</p>
            </div>
            <form name="form">
                <div class="menu">
                    <input [class.invalid]="classValidation" name="text" type="text" placeholder="type here...">
                    <input type="button" name="btnAdd" value="Add" (click)="isInValidClass()">
                    <input type="button" name="btnReset" value="Reset" (click)="clearTextArea()">
                </div>
                <div class="textArea">
                    <textarea  [class.invalid]="cenzorValidation" name="textarea" placeholder="type here..."></textarea>
                </div>
                <input type="button" name="btnCenzor" value="Cenzor" (click)="isInValidCenzor()">
            </form>
        </div>
    </div>
</body>