<div class="container">
    <div class="cenzor_block block">
        <img src="../../assets/cenzor.png" alt="">
        <a class="btn btn-primary" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">Details</a>
    </div>
    <div class="users-list_block block">
        <img class="user_list" src="../../assets/user.png" alt="">
        <a class="btn btn-primary" [routerLink]="[ '/works/users' ]" routerLinkActive="active">Details</a>
    </div>
    <div class="users-task_block block">
        <img src="../../assets/task.png" alt="">
        <a class="btn btn-primary" [routerLink]="[ '/works/task' ]" routerLinkActive="active">Details</a>
    </div>
</div>